langchain-openai
langchain-pinecone
langchain
langchain-text-splitters
langchain-community
streamlit
pypdf
openai
pinecone
pinecone-client
langchain-pinecone
python-dotenv
requests
typing-extensions
