langchain-openai
langchain
langchain-text-splitters
langchain-community
streamlit
pypdf
openai
langchain-pinecone>=0.1.0
pinecone-client
langchain-pinecone
python-dotenv
requests
typing-extensions

